<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.metatags.title %>
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.metatags.title %>">
  <meta property="og:url" content="<%= htmlWebpackPlugin.options.metatags.url %>">
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.metatags.image %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.metatags.description %>">
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.metatags.site_name %>">
  <meta property="og:type" content="<%= htmlWebpackPlugin.options.metatags.type %>">
</head>

<body></body>

</html>